<div id="bg-code" class="jumbotron">
  <div class="container">
    <h1>Source Code</h1>
    <p>A set of C++, CUDA and Matlab functions for automatic alignment sensor alignment.</p>
  </div>
</div>

<div class = "container">

<div class="page-header">
<h2>Projects</h2>
</div>

I currently have three projects dealing with image alignment that have publicly available code

<div class="page-header">
    <h3><a href = "https://github.com/ZacharyTaylor/motion-based-calibration">Motion Based Calibration</a></h3>
</div>
<p>The latest project I have been working on. This code utilizes structure from motion in combination with the Levinson method to calibrate a Velodyne-Camera system with no initial estimates to the extrinsic parameters required. For more details see my ICRA2014 long term autonomy workshop paper in the publications section.<p>
<p>Note this code makes use of Matlab and Cuda, because of this it requires a computer with an Nvidia graphics card with compute 2.0 or higher.<p>

<div class="page-header">
    <h3><a href = "https://github.com/ZacharyTaylor/Registration-functions">General Registration Functions</a></h3>
</div>
<p>A set of a couple of generic registration functions I have written in Matlab. The main purpose of these functions has been to assist others in similar fields to quickly implement and test ideas. Currently it contains fast implementations of entropy, mutual information and Fourier Mellin transforms.<p>

<div class="page-header">
    <h3><a href="https://github.com/ZacharyTaylor/Multimodal-Calib/">Multimodal-Calib</a></h3>
</div>
<p>Multimodal-calib is a set of C++, Cuda and Matlab functions I have written during my thesis, for the automatic alignment and extrinsic calibration of different sensors. The main focus of this work has been for the use of panoramic cameras with Velodyne lidar. The methods developed however are not limited to this application and have been used for a range of multi-modal 2D-2D and 2D-3D registration tasks.
 
<h4>Current state of the Multimodal-calib code</h4>
<p>Unlike the previous two projects the main function of the code has been to allow me to test ideas during my thesis. Because of this there has never been a strong focus on the readability, portability or use of the code by others. That being said recently due to some interest in the code I have made an effort to improve the approachability of the code so that others can use it. If you have tried to use the code and hit an issue please let me know so I can fix the code to prevent it happening to others.</p>

<h4>Documentation</h4>
<p>The m files all contain information on each function and how to run them with a few example scripts provided with the code. If you are interested in the C++ and CUDA that is running behind the scenes the Doxergen documentation can be found <a href="http://zacharytaylor.github.io/Multimodal-Calib/Doxygen/html/index.html">here</a>.</p>

</div>