<div class="jumbotron">
  <div class="container">
    <h1>Non-academic</h1>
    <h4> All the stuff I feel like sticking on the site that has nothing to do with my research.</h4>
  </div>
</div>

<div class="container">
<br>
<br>

<div class="page-header">
<h2>Stuff Im working on</h2>
</div>
<p> At the moment this section is pretty empty, but ill add new stuff here as I do it.</p>
</div>

<div class ="container">
<div class="page-header">
  <h2>Wall Changer </h2>
</div>
<p> Wall Changer is a little program I wrote to start learning python. 
It Automatically fetches a popular image from wallbase.cc and sets it as the wallpaper every half hour. 
Images are stored and checked against to prevent the same image being downloaded twice. 
The images are also filtered using a blacklist of undesired tags.</p>
<p> The code is only designed to work on windows and has only been tested on windows 8. 
If you want to run it yourself you will want to change the value of the variable wall_dir that sets where wallpapers are saved. </p>

<h4><a href="https://github.com/ZacharyTaylor/WallChange/blob/master/Wall.pyw">You can find the code here.</a></h4>

<p> All the code was pretty straight foward only two things tripped me up. 
The first was dealing with wallpapers with non-ascii characters in their names would crash the program with the error " 'ascii' codec can't decode byte ... ".
After a few false starts thinking it was unicode I found that the wallpapers names were encoded with 'ISO-8859-1' and appending .decode('ISO-8859-1') to the wallpaper name variable solved the issues I was having. 
The second issue was how to get python to change the windows wallpaper however in the end it turned out all I needed were the lines <p>

SPI_SETDESKWALLPAPER = 0x14 <br>
SPIF_UPDATEINIFILE   = 0x1 <br>
<br>
SystemParametersInfo = windll.user32.SystemParametersInfoA <br>
<br>
SystemParametersInfo(SPI_SETDESKWALLPAPER, 0, "PATH TO WALLPAPER GOES HERE", SPIF_UPDATEINIFILE)<br>

<p> There were quite a few posts that claimed this method would only work with bmp's however I have had it working perfectly with jpg's and png's as well.
I think this might depend on the version of windows but I didn't really look into it.</p>
</div>