<div id="bg-pub" class="jumbotron">
  <div class="container">
    <h1>Publications</h1>
    <p>All of my papers that have been published in conferences and journals.
    <br><a href="http://scholar.google.com.au/citations?user=XusVh60AAAAJ&hl=en">My Google Scholar profile page.</a></p> 
    <br><a href="https://www.researchgate.net/profile/Zachary_Taylor3">My ResearchGate profile page.</a></p> 
    
  </div>
</div>

<%= render 'layouts/paper' %>