<div id="bg-vid" class="jumbotron">
  <div class="container">
    <h1>Videos</h1>
    <h4> A collection of videos demonstrating my work.</h4>
  </div>
</div>

<div class="container">
<br>
<br>

<div class ="container">
<div class="page-header">
  <h2>Motion-Based Calibration of Multimodal Sensor Arrays </h2>
</div>

<iframe width="1100" height="619" src="https://www.youtube.com/embed/xF-riRY9ulU" frameborder="0" allowfullscreen></iframe>

</div>

<div class ="container">
<div class="page-header">
  <h2>Kitti data fused after calibration </h2>
</div>
<iframe width="1100" height="619" src="https://www.youtube.com/embed/clQdjR1vodA" frameborder="0" allowfullscreen></iframe>

</div>

<div class ="container">
<div class="page-header">
  <h2>Automatic Calibration of Lidar with Camera Images using Normalized Mutual Information </h2>
</div>

<iframe width="1100" height="619" src="https://www.youtube.com/embed/war_cl0LdpI" frameborder="0" allowfullscreen></iframe>

</div>
