<div>
<br>
<br>
</div>
<footer class="navbar navbar-static-bottom navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
        <a href="http://www.acfr.usyd.edu.au/"><%= image_tag("ACFR_Logo_Small.png", id: "ACFR_image") %></a>
        <a href="http://sydney.edu.au/"><%= image_tag("USYD_Logo_Small.png", id: "USYD_image") %></a>
        <nav>
        <h4 align="center" id="footer_text"> Email: </h4>
        <a href="mailto:zacharyjeremytaylor@gmail.com"><h4 align="center" id="footer_text"> zacharyjeremytaylor@gmail.com </h4></a>
        </nav>
    </div>
  </div>
</footer>