<%require 'yaml'%>
<%require 'papers'%>
<%@papers = YAML.load_file('app/assets/papers/papers.yml')%>

<div class="container">
    <% @papers.each do |paper| %>
    <br>
        <div class="media">
          <%= link_to image_tag(paper.image, width: "250", alt: paper.title, style: "float: left;", hspace: "10"), :controller => "welcome", :action => "download_pdf", :pdf => paper.file, class: "media-object" %>

          <div class="media-body">
            <h4 class="media-heading"><b><%=paper.conference%>:</b> <%= link_to paper.title, :controller => "welcome", :action => "download_pdf", :pdf => paper.file %></h4>
            <p align="justify"><%=paper.abstract%></p>
          </div>
        </div>
    <% end %>
</div>