<div class="jumbotron">
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="..." alt="...">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><%=yield(:paper[:conference])%>: <%=yeild(:paper[:title])%></h4>
        <%=yield(:paper[:abstract])%>
      </div>
    </div>
</div>